{% extends 'base.html.twig' %}

{% block title %}Best채tigen{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <h1>Bitte best채tige deine E-Mail Adresse.</h1>
        Wir haben dir eine E-Mail mit einem best채tigungslink gesendet dieser ist x Studen g체ltig.
    </div>
{% endblock %}
