{% extends 'base.html.twig' %}

{% block title %}Fragen{% endblock %}

{% block body %}
<div class="content-wrapper">
    Du hast den Test beendet, wir werten deine Antworten nun aus und werden dich über das Ergebnis benachrichtigen.
</div>
{% endblock %}
