{% extends 'base.html.twig' %}

{% block title %}Eignungstest!{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>Eignungstest</h1>

    Bla bla bla Einleitungs-Bullshit
    <br/>
    <a href="{{ path('question_start') }}" class="btn">Start</a>
</div>
{% endblock %}
