{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Auswertung{% endblock %}

{% block page_content %}
<table class="table datagrid with-rounded-top">
    <thead>
        <tr>
            <th class="text-" dir="ltr">Schritt</th>
            <th class="text-" dir="ltr">Fragen gesamt</th>
            <th class="text-" dir="ltr">Fragen beantwortet</th>
            <th class="text-" dir="ltr">Fragen korrekt</th>
            <th class="text-" dir="ltr"><span class="sr-only">Actions</span></th>
        </tr>
    </thead>
    <tbody>
        {% for resultStep in result.stepResults %}
            <tr>
                <td class="text- field-text">
                   {{ resultStep.step.title }}
                </td>
                <td class="text- field-text">
                   {{ resultStep.total }}
                </td>
                <td class="text- field-text">
                   {{ resultStep.processed }}
                </td>
                <td class="text- field-text">
                   {{ resultStep.correct }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

